<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source={AppDir}\Data\NegotiumDatabase.db; Version=3; Pooling=True; Max Pool Size=100;" />
    <add name="genericdb" connectionString="Data Source={AppDir}\{DatabasePath}; Version=3; Pooling=True; Max Pool Size=100;"/>
  </connectionStrings>
  <appSettings>
    <add key="versionDb" value="1.2.0.0" />
    <!-- ACADEMICO o PROFESIONAL -->
    <add key="tipoUso" value="ACADEMICO"/>
  </appSettings>
</configuration>